# Network config for kvmhost, configured by ansible
network:
  ethernets:
    {{ one_gb_nic_1 }}:
      dhcp4: false
      addresses: [{{ admin_nic_address }}]
    {{ one_gb_nic_2 }}:
      dhcp4: true
    {{ ten_gb_nic_1 }}:
      dhcp4: true
    {{ ten_gb_nic_2 }}:
      dhcp4: true
  bonds:
    {{ ten_gb_bond_name }}:
      mtu: {{ ten_gb_bond_mtu }}
      dhcp4: false
      interfaces: [{{ ten_gb_nic_1 }}, {{ ten_gb_nic_2 }}]
      parameters:
        mode: {{ ten_gb_bond_mode }}
  vlans:
    {{ vlan_name }}:
      accept-ra: no
      id: {{ vlan_id }}
      link: bond0
  bridges:
    {{ libvirt_bridge_name }}:
      dhcp4: false
      addresses: [{{ libvirt_bridge_ip }}]
      gateway4: {{ libvirt_bridge_gateway }}
      interfaces: [{{ vlan_name }}]
      parameters:
        stp: false
      nameservers:
        addresses: [{{ internal_dns }}, 8.8.8.8]
  version: 2
